
*{
    margin: 0;
    padding: 0;
}

body{
    /* background: white; */
    
    /* height: 100%;  */
    
    /* Center and scale the image nicely */
    /* background-position: center; */
   

     
    
}
.backgroundImage{
    background-image: url(/css/picknic.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */
    background-size: cover;

}


#searchPage{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 50%;
   
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 20px 20px 20px black
   

}
.ingredientP{
    cursor: pointer;
}

ul{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    
}
li{
   
   border: 2px;
   border-style: solid;
   /* justify-content: center;
   align-content: center;
   flex-wrap: wrap; */

}

.data, .favReturn{

    background: beige;
    margin: 0 auto;
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    list-style: none;
   text-align: center;

}
label{
    font-family: "Roboto", "sans-serif";
    font-size: 18px;

}
.back{
    margin: 0 auto;
    text-align: center;
}
.btnsInSearch{
    width: 200px;
    
}
a{
    text-decoration-line: none;
    color: white;
}
nav{
    text-align: end;
    padding: 40px;
    margin-bottom: 20px;
    background: lightgreen;
}
select{
    background: white;
    /* font-family: 'Lobster', cursive; */
    text-align: center;
    color: black;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 25px;
}


button {
    border-style: none;
    background: green;
    font-family: 'Lobster', cursive;
    color: white;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 25px;
  }
  
  button:hover {
     background: lightgreen;
  }
  
  input {
    width: 70%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    
  }
  
 